html{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.story {
    text-align: center;

    font-family: "Story Script";
    font-size: 30px;
    font-weight: 500;
}

ul {
    margin-top: 10vw;
}
li{
    align-items: center;
    font-family: "Story Script";
    margin-top: 15px;
    font-size: 24px;
    font-weight: 400;
}
