body{
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.story {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

li{
    align-items: center;
    font-size: 24px;
    font-weight: 400;
}
