body {
    background-image: url("assets/image/background.jpg");
    object-fit: fill;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    font-family: "Story Script";
    font-size: 16px;
    font-weight: 400;
}

.story {
    text-align: center;
    font-family: "Story Script";
    font-size: 24px;
    font-weight: 500;
}


