body{
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.story {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

li{
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
    border: 2px solid black;
}
