body{
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #061E29;
    color: white;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    width: 100vw;
    top: 0;
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.story {
    text-align: center;
    font-size: 20px;
    border: 2px solid rgba(29, 84, 109, 0.3);
    background-color: rgba(95, 149, 152, 0.3);
    width: 100vw;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

li {
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #1D546D;
    border-radius: 10px;
    background-color: #5F9598;
    width: 80vw;
    color: white;
    font-weight: 700;
}

li a {
    padding: 10px 20px;
    display: block;
}
